<main class="calc-container">
  <div class="display">
    <p
      [ngSwitch]="liveDisplay"
      [ngClass]="{
        small: liveDisplay.length >= 9,
        medium: liveDisplay.length === 8,
        large: liveDisplay.length === 7,
        'x-large': 7 > liveDisplay.length
      }"
    >
      <ng-template ngSwitchCase="">0</ng-template>
      <ng-template ngSwitchCase="-">-0</ng-template>
      <ng-template ngSwitchDefault>
        {{ liveDisplay | formatDisplay }}
      </ng-template>
    </p>
  </div>
  <button [ngSwitch]="allClear" class="top-row" (click)="clearDisplay($event)">
    <ng-template [ngSwitchCase]="true" value="AC">AC</ng-template>
    <ng-template [ngSwitchCase]="false" value="C">C</ng-template>
  </button>
  <button class="top-row" (click)="plusMinusToggle()" value="-">+/-</button>
  <button class="top-row" (click)="percentage()" value="%">%</button>
  <button
    [ngClass]="{ operator: true, active: operatorActive === ' ÷ ' }"
    (click)="insertOperator($event)"
    value=" ÷ "
  >
    ÷
  </button>
  <button (click)="insertNum($event)" value="7">7</button>
  <button (click)="insertNum($event)" value="8">8</button>
  <button (click)="insertNum($event)" value="9">9</button>
  <button
    [ngClass]="{ operator: true, active: operatorActive === ' x ' }"
    (click)="insertOperator($event)"
    value=" x "
  >
    ×
  </button>
  <button (click)="insertNum($event)" value="4">4</button>
  <button (click)="insertNum($event)" value="5">5</button>
  <button (click)="insertNum($event)" value="6">6</button>
  <button
    [ngClass]="{ operator: true, active: operatorActive === ' - ' }"
    (click)="insertOperator($event)"
    value=" - "
  >
    -
  </button>
  <button (click)="insertNum($event)" value="1">1</button>
  <button (click)="insertNum($event)" value="2">2</button>
  <button (click)="insertNum($event)" value="3">3</button>
  <button
    [ngClass]="{ operator: true, active: operatorActive === ' + ' }"
    (click)="insertOperator($event)"
    value=" + "
  >
    +
  </button>
  <button id="zero" (click)="insertZero()" value="0">0</button>
  <button (click)="insertDecimal()" value=".">.</button>
  <button class="operator" (click)="finishCalc()" value="=">=</button>
</main>
